<header class="w-3/5 text-center mx-auto mb-2">
  <h2 class="text-5xl font-semibold tracking-wider">Programming Languages</h2>
  <div class="dui-divider opacity-40 mt-2"></div>
</header>

<div class="grid grid-cols-5 w-3/5 mx-auto mb-32">
  <div class="w-fit px-4 py-2 rounded mx-auto flex flex-row gap-4 shadow-md shadow-base-300 dark:shadow-base-200/30 bg-gradient-to-tr from-wgu-white to-tamu-white dark:from-base-200/10 dark:to-base-200/60">
    <%= image_tag("logo-python.svg", class: "w-6 h-fit my-auto") %>
    <p class="text-lg my-auto tracking-wider">Python</p>
  </div>
  <div class="w-fit px-4 py-2 rounded mx-auto flex flex-row gap-4 shadow-md shadow-base-300 dark:shadow-base-200/30 bg-gradient-to-tr from-wgu-white to-tamu-white dark:from-base-200/10 dark:to-base-200/60">
    <%= image_tag("logo-ruby.png", class: "w-6 h-6 my-auto") %>
    <p class="text-lg my-auto tracking-wider">Ruby</p>
  </div>
  <div class="w-fit px-4 py-2 rounded mx-auto flex flex-row gap-4 shadow-md shadow-base-300 dark:shadow-base-200/30 bg-gradient-to-tr from-wgu-white to-tamu-white dark:from-base-200/10 dark:to-base-200/60">
    <%= image_tag("logo-java.png", class: "w-6 h-fit my-auto") %>
    <p class="text-lg my-auto tracking-wider">Java</p>
  </div>
  <div class="w-fit px-4 py-2 rounded mx-auto flex flex-row gap-4 shadow-md shadow-base-300 dark:shadow-base-200/30 bg-gradient-to-tr from-wgu-white to-tamu-white dark:from-base-200/10 dark:to-base-200/60">
    <%= image_tag("logo-cpp.svg", class: "w-6 h-fit my-auto") %>
    <p class="text-lg my-auto tracking-wider">C++</p>
  </div>
  <div class="w-fit px-4 py-2 rounded mx-auto flex flex-row gap-4 shadow-md shadow-base-300 dark:shadow-base-200/30 bg-gradient-to-tr from-wgu-white to-tamu-white dark:from-base-200/10 dark:to-base-200/60">
    <%= image_tag("logo-js.png", class: "w-6 h-fit my-auto") %>
    <p class="text-lg my-auto tracking-wider">JavaScript</p>
  </div>
</div>

<header class="w-3/5 text-center mx-auto mb-2">
  <h2 class="text-5xl font-semibold tracking-wider">Technologies</h2>
  <div class="dui-divider opacity-40 mt-2"></div>
</header>

<div class="grid grid-cols-3 w-3/5 mx-auto mb-12 gap-y-12">
  <div class="w-fit px-4 py-2 rounded mx-auto flex flex-row gap-4 shadow-md shadow-base-300 dark:shadow-base-200/30 bg-gradient-to-tr from-wgu-white to-tamu-white dark:from-base-300/10 dark:to-base-200/60">
    <%= image_tag("logo-rails.svg", class: "w-10 h-fit my-auto") %>
    <p class="text-lg my-auto tracking-wider">Ruby on Rails</p>
  </div>
  <div class="w-fit px-4 py-2 rounded mx-auto flex flex-row gap-4 shadow-md shadow-base-300 dark:shadow-base-200/30 bg-gradient-to-tr from-wgu-white to-tamu-white dark:from-base-300/10 dark:to-base-200/60">
    <%= image_tag("logo-django.svg", class: "w-10 h-fit my-auto") %>
    <p class="text-lg my-auto tracking-wider">Django</p>
  </div>
  <div class="w-fit px-4 py-2 rounded mx-auto flex flex-row gap-4 shadow-md shadow-base-300 dark:shadow-base-200/30 bg-gradient-to-tr from-wgu-white to-tamu-white dark:from-base-300/10 dark:to-base-200/60">
    <%= image_tag("logo-git.svg", class: "w-6 h-fit my-auto invert dark:invert-0") %>
    <p class="text-lg my-auto tracking-wider">Git SCM</p>
  </div>
  <div class="w-fit px-4 py-2 rounded mx-auto flex flex-row gap-4 shadow-md shadow-base-300 dark:shadow-base-200/30 bg-gradient-to-tr from-wgu-white to-tamu-white dark:from-base-300/10 dark:to-base-200/60">
    <%= image_tag("logo-sass.png", class: "w-7 h-fit my-auto invert dark:invert-0") %>
    <p class="text-lg my-auto tracking-wider">Sass</p>
  </div>
  <div class="w-fit px-4 py-2 rounded mx-auto flex flex-row gap-4 shadow-md shadow-base-300 dark:shadow-base-200/30 bg-gradient-to-tr from-wgu-white to-tamu-white dark:from-base-300/10 dark:to-base-200/60">
    <%= image_tag("logo-sql.png", class: "w-6 h-fit my-auto dark:grayscale dark:brightness-0 dark:invert") %>
    <p class="text-lg my-auto tracking-wider">SQL</p>
  </div>
  <div class="w-fit px-4 py-2 rounded mx-auto flex flex-row gap-4 shadow-md shadow-base-300 dark:shadow-base-200/30 bg-gradient-to-tr from-wgu-white to-tamu-white dark:from-base-300/10 dark:to-base-200/60">
    <%= image_tag("logo-linux.svg", class: "w-7 h-fit my-auto") %>
    <p class="text-lg my-auto tracking-wider">Linux</p>
  </div>
</div>



